<form method="POST" action="/generate">
    <input type="hidden" name="selected_resource" value="{{ resource }}">

    <label for="use_existing">Use Existing Modules</label>
    <input type="checkbox" name="use_existing"><br><br>
    
    {% for field in modules[resource]["required"] %}
        <label>{{ field["name"].replace('_', ' ').title() }} (Required):</label>
        <input type="text" name="{{ resource }}_{{ field["name"] }}"><br>
    {% endfor %}
    {% for field in modules[resource]["optional"] %}
        <label>{{ field["name"].replace('_', ' ').title() }} (Optional):</label>
        <input type="text" name="{{ resource }}_{{ field["name"] }}"><br>
    {% endfor %}
    <br>
    <button type="submit">Generate Terraform Code</button>
</form>
